html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #002db3;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}
header img{
	
}

.content{
	max-width: 900px;
	margin: 0px 100px 100px
}

img.big-image{
	max-width: 100%;
}